.banner {
    background-image: url("../img/Banner.jpg");
    background-size: cover;
    /* faz a imagem de fundo ficar do tamanho do banner */
    background-position: center;
    /* centraliza a img no meio do banner, então come um pedacindo em cima e embaixo*/
    width: 100%;
    /* define o tamanho do banner(não a imagem) como 100% do vp */
    height: 270px;
    /* altura igual do figma */
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}

.banner__texto {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    line-height: 1.3em;
}

.banner-bottom {
    width: 100%;
    margin-top: 2em;
    height: 338px;
    object-fit: cover;
    filter: brightness(50%) contrast(120%);
    opacity: 0.7;
}

/* -------------------------------------------------- */

@media screen and (min-width: 768px) {
    .banner {
        height: 384px;
    }

    .banner__texto {
        font-size: 64px;
    }
}

/* -------------------------------------------------- */

@media screen and (min-width: 1440px) {
    .banner {
        height: 407px;
    }

    .banner__texto {
        margin: 0 10em;
    }
}